body{
	/*background: url('../images/Sporten.png') no-repeat;*/
	background: #000;
}

#map, #app{
	position: absolute;
	top: 5%;
	bottom: 4%;
	right: 0;
	left: 0;
}

#app{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102,105,104, 0)), to(rgba(0, 0, 0, 1)));
	z-index: 500;
	opacity: .6;
	transition-property: left;
  	transition-duration: .2s;
  	transition-timing-function: linear;
}

#app-close{
	left: 1000px;
}

.login{
	position: absolute;
	border: 1px solid #ccc;
	background: #73aad9;
	opacity: 1;
	border-radius: 5px;
	top: 50px;
	right: 6px;
	height: 500px;
	width: 400px;
}

.login div{
	margin: 10px;
}

header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: #73aad9;
	height: 40px;
	z-index: 1000;
}

header #logo{
	margin: .5%;
}

header #profile{
	float: right;
	margin: .5%;
}

header #profile img{
	height: : 35px;
	width: 35px;
	border-radius: 5px;
}

header div{
	display: inline-block;
}

footer {
	font-size: 12px;
	background: #333;
	overflow: hidden;
	clear: both;
	padding: 0 44px;
}